<!DOCTYPE html>
<html>
<head>
  <title>Mdloader</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="container">
    <% if user_signed_in? %>
      <%= render partial: "/commons/navbar", locals: { controller: params[:controller] } %>
    <% end %>

    <div class="container-fluid">
      <%= yield %>
    </div>
  </div>

</body>
</html>
